# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

# For MacOS:
.DS_Store

# For ext
Makefile
extconf.h
*.bundle
*.so
*.log
*.o
Gemfile.lock
